.square {
    height: 50px;
    width: 50px;
}

.white {
    background-color: rgb(219, 219, 219);
}

.black {
    background-color: rgb(156, 107, 0);
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: greenyellow;
}

.log, .log th, .log td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}



